body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

html {
  font-size: 10px;

  --bg-color: #272a31;
  --text-color: #ec5242;
  --bg-color1: #d3d3d3;
  --font-family: "Lato", sans-serif;
  --font-Coco: "COCOGOOSE", sans-serif;
}

.header {
  background-image: url("./assets/images/header-bg.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  padding: 1.2rem;
  position: relative;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  height: auto;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.hamburg-icon {
  width: 50%;
  height: 40%;
}

.navbar {
  display: flex;
}

.links {
  /* display: none; */
}

.welcome {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 3em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.heading {
  font-size: 2.8rem;
  margin-top: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: oblique;
  line-height: 30px;
  color: rgba(255, 30, 5, 0.8);
  margin-bottom: 2rem;
}

.welcome-message {
  padding: 1.2rem;
  line-height: 1.8rem;
  font-size: 1.4rem;
  height: auto;
  text-align: justify;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  color: #606060;
  border: 3px solid rgb(255, 255, 255);
  margin: 1.2rem 0;
}

.time {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #606060;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 700;
}

.schedule p {
  font-size: 1.2rem;
}

.main {
  width: 100%;
  background-color: #272a32;
  background-image: url(./assets/images/pattern_bg.png);
  margin-left: 0;
  height: auto;
  padding-top: 5rem;
  overflow: auto;
}

.title-main {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  margin: 0 0 0 0;
}

.lowbar-title {
  width: 5.3rem;
  height: 1.6rem;
  border-bottom: 0.1rem solid #ef513c;
  margin: 0 auto 5.4rem;
}

.program-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  margin: 0 1.6rem;
}

.program-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  list-style: none;
  align-items: center;
  gap: 3rem;
  background-color: rgba(61, 64, 72, 0.6);
  padding: 16px 12px;
}

.program-title {
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  font-family: "COCOGOOSE", sans-serif;
}

.program-info {
  color: #fff;
  font-size: 1.3rem;
  text-align: start;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.join-btn {
  width: 60%;
  margin: 2.6rem auto 2.6rem auto;
  height: 5rem;
  background-color: var(--text-color);
  outline: none;
  border: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-speakers {
  display: flex;
  flex-direction: column;
}

.featured-title {
  color: #272a31;
  margin-top: 4.4rem;
}

.speakers {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.4rem;
}

.name {
  font-size: 1.8rem;
  font-style: oblique;
  color: var(--bg-color);
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.title-bar-speaker {
  border-bottom: 0.1rem solid #d3d1d0;
  align-items: flex-start;
  text-align: start;
  margin: 0;
}

.speaker-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 1.3rem;
  font-style: oblique;
}

.img-speaker {
  height: auto;
  width: 200px;
  object-fit: contain;
}

.speaker-bio {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: var(--bg-color);
  margin-top: 14px;
}
