body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

html {
  font-size: 10px;

  --bg-color: #272a31;
  --text-color: #ec5242;
  --bg-color1: #d3d3d3;
  --font-family: "Lato", sans-serif;
  --font-Coco: "COCOGOOSE", sans-serif;
}

.header {
  background-image: url("./assets/images/header-bg.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  padding: 1.2rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
  height: auto;
}

.welcome {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 3em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.heading {
  font-size: 2.8rem;
  margin-top: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: oblique;
  line-height: 30px;
  color: rgba(255, 30, 5, 0.8);
  margin-bottom: 2rem;
}

.welcome-message {
  padding: 1.2rem;
  line-height: 1.8rem;
  font-size: 1.4rem;
  height: auto;
  text-align: justify;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  color: #606060;
  border: 3px solid rgb(255, 255, 255);
  margin: 1.2rem 0;
}

.time {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #606060;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 700;
}

.schedule p {
  font-size: 1.2rem;
}
